<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Club</title>
</head>
<body>
  <header>
    <h1>Members Club</h1>
    <%- include('partials/userauth') %>
  </header>

  <main>
    <h1>Message Board</h1>

    <% if (user) { %>
      <a href="/create-message">Create Message</a>
    <% } %>
  </main>
  
</body>
</html>